/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

weatherStation/\.idea/misc\.xml

weatherStation/\.idea/modules\.xml

weatherStation/\.idea/vcs\.xml

weatherStation/\.idea/weatherStation\.iml

weatherStation/\.idea/workspace\.xml

weatherStation/\.idea/

package-lock\.json
